<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ list.name }}</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ list.name }}</h1>
        <p><a href="{% url 'edit_list' list.id %}">Edit</a></p>
        <p><a href="{% url 'delete_list' list.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th colspan="1">Task</th>
              <th colspan="1">Due date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in list.item.all %}
            <tr>
                <td>
                    <a href="{% url 'item_edit' item.id %}">{{ item.task }}</a>
                </td>
                <td>{{ item.due_date|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
