<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'create_list' %}">Create a new list</a></p>
        <p><a href="{% url 'item_create' %}">Create a new item</a></p>
      </div>
      <table>
        <thead>
          <tr>
            <th colspan="1">Name</th>
            <th colspan="1">Number of items</th>
          </tr>
        </thead>
        <tbody>
          {% for list in lists %}
          <tr>
            <td>
              <a href="{% url 'show_list' list.id %}"> {{ list.name }} </a>
            </td>
            <td>{{ list.item.all|length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
